html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#main {
    overflow-x: hidden;
    overflow-y: hidden;
    max-width:1200px; 
    margin: 0 auto;
    padding: 15px;
    display:flex; 
  }

  #leftSide {
    width: 65%;
    position: relative;
  }
#rightSide {
    width: 70%;
    margin-top: 140px; 
    margin-left: 585px;
    
    min-width: 600px; 
    min-height:400px; 
  
   
}

#title {
    text-align: left;
    font-size: 50px; 
   
}

#price {
    float:left;
    font-size: 40px; 
    margin-top: 10px;
   
}

#time {
    float:left;
    font-size: 15px; 
    margin-top: 30px;
    margin-left: 25px;
   
}

#buy {
    position: absolute;
    right:    10;
    bottom:   20;
    font-size: 15px; 
    margin-top: 90px;
    margin-left:5px; 
    
    
   
}

#buyButton{
    
    background: #CF8E4C ;
    border:none; 
    color:white; 
    border-radius:10px;
    width:105px; 
    height:40px;
    text-align: center;
    font-size:20px; 
    vertical-align: middle;

    

}

#information{
    text-align: left;
    margin-top:165px; 
    font-size: 20px; 

}

#categories{
    display: inline;
    margin-left: 30px; 
}

#moreInfo{
    width:100px; 
    height: 12px; 
    
}


.tooltip {
    position: relative;
    display: inline-block;
    background-color:aqua;
    color:aqua;
    border-bottom: 1px dotted rgb(150, 141, 141);
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }