#listings{
  position: fixed;
  bottom: 625px;
  left: 50px;
  width: 200px;
  font-size: 30px;
  
}

#itemList{
    
    position: fixed;
    top: 340px;
    left: 80px;
    
    width: 90%;
    height: 100%; 
    

}

#firstRow{
    display: flex;
    justify-content: space-between;
    
}

#secRow{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

#thirdRow{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

#fourthRow{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

#listingImage{

    min-width:200px;
    height:200px; 
    border-radius:10px;
}


