#main{
    color: black;
    padding-top: 70px;
}

#bottomBar{
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: #7F766B;
    color: white;
    height: 60px;
  }

  #topBar{
    position: center;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: #7F766B;
    color: white;
    height: 60px;
  }